{% extends 'base.html.twig' %}

{% block title %}Cabinet à Sévrier{% endblock %}

{% block body %}

	<main>
		<div class="container my-5">
			<!--Section: Design Block-->
			<section class="text-center" id="presentation">
				<h3 class="mb-5">Le cabinet à Sévrier</h3>

				<p class="mb-5 mx-auto w-responsive">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
					nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
					quia cumque consequatur perferendis hic.
				</p>

				<div class="lightbox">
					<div class="row">
						<div class="col-md-4 mb-4">
						<img src="{{ asset('assets/images/clinic-1.jpg') }}"
							alt="Lightbox image 1" class="w-100 shadow-1-strong rounded" />
						</div>
						<div class="col-md-4 mb-4">
						<img src="{{ asset('assets/images/clinic-2.jpg') }}"
							alt="Lightbox image 2" class="w-100 shadow-1-strong rounded" />
						</div>
						<div class="col-md-4 mb-4">
						<img src="{{ asset('assets/images/clinic-3.jpg') }}"
							alt="Lightbox image 3" class="w-100 shadow-1-strong rounded" />
						</div>
					</div>
				</div>
			</section>
			<!--Section: Design Block-->

            <!--Google map-->
            <div class="map-container-clinic shadow-1-strong rounded mb-5">
                <iframe src="https://maps.google.com/maps?q=400+All.+des+Allobroges,+74320+Sévrier&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border: 0; border-radius: 0.25rem;" allowfullscreen></iframe>
            </div>
            <!--Google Maps-->
		</div>
    </main>

{% endblock %}
