{% extends 'base.html.twig' %}

{% block title %}COVID-19{% endblock %}

{% block body %}

	<main>
		<div class="container my-5">
			<!--Section: Design Block-->
			<section class="text-center" id="presentation">
				<h3 class="mb-5">Dépistage de la Covid-19</h3>

				<p class="mb-5 mx-auto w-responsive">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
					nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
					quia cumque consequatur perferendis hic.
				</p>

			</section>
			<!--Section: Design Block-->


		</div>
    </main>

{% endblock %}
