.navbar-scroll .fa-bars, .navbar-scroll .nav-link{
    color :#4f4f4f;
}

.btn-primary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #78978D;
}

.text-primary{
    color: #78978D!important;
}

#home-care-img1{
    display: none;
}

#home-care-img2{
    display: block;
}

@media (min-width: 992px){

    #home-care-img1{
        display: block;
    }

    #home-care-img2{
        display: none;
    }

}

.map-container {
    height: 200px;
    position: relative;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-container-clinic  {
    height: 400px;
    position: relative;
}

.map-container-clinic iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mail{
    color: #4f4f4f;;
}